@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}   

body{
    background-image: url(../assets/img/header_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #36AE7C;
}

.font-RR{
    font-family: Road Rage;
    font-size:xxx-large;
}

.nav-link:hover{
    text-decoration: underline ;
}

.form-label{
    font-weight: 800 !important;
}

.button-padding{
    padding-top: 110px;
}

.form-outline i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
