@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(90deg, rgb(234, 112, 68) 0%, rgb(14, 58, 154) 35%, rgb(47, 209, 117) 100%); /*waiting sa design ni rein hihi*/
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
    text-decoration: underline ;
}

.form-label{
    font-weight: 800 !important;
}

.button-padding{
    padding-top: 100px;
}

.form-outline i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
